################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/TechBlogCore.AOT/bin/Debug/net8.0
/TechBlogCore.AOT/obj
/TechBlogCore.AOT/appsettings.json
/.vs
/TechBlogCore.AOT/.config
/TechBlogCore.AOT/bin/Release/net8.0
/TechBlogCore.AOT/Properties/PublishProfiles
/TechBlogCore.AOT/TechBlogCore.AOT.csproj.user
